<div class="grid">
  <div
    *ngIf="statusLoader"
    style="
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 9999;
      min-height: 100vh;
      min-width: 100vw;
    "
  >
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="New"
              pTooltip="Create New User"
              icon="pi pi-plus"
              tooltipPosition="bottom"
              class="p-button-success mr-2"
              (click)="openNew()"
            ></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <button
            pButton
            pRipple
            label="Export"
            icon="pi pi-upload"
            class="p-button-help"
            pTooltip="CSV"
            tooltipPosition="bottom"
            (click)="dt.exportCSV()"
          ></button>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-excel"
            pTooltip="xlsx"
            tooltipPosition="bottom"
            (click)="exportExcel()"
            class="p-button-success ml-2"
          ></button>
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-file-pdf"
            (click)="exportPdf()"
            pTooltip="Pdf"
            tooltipPosition="bottom"
            class="p-button-success ml-2"
          ></button>
        </ng-template>
      </p-toolbar>
      <p-table
        #dt
        [value]="users"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['name']"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [totalRecords]="totalRecords"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowHover]="true"
        dataKey="id"
        [lazy]="true"
        [loading]="isLoading"
        (onLazyLoad)="getFilterData($event)"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0">Users</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Search..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <!--            <th style="width: 3rem">-->
            <!--              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
            <!--            </th>-->
            <th pSortableColumn="id">
              UserId <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th>Profile</th>

            <th pSortableColumn="userName">
              Username
              <p-sortIcon field="userName"></p-sortIcon>
            </th>
            <th pSortableColumn="email">
              Email
              <p-sortIcon field="email"></p-sortIcon>
            </th>
            <th>Role</th>
            <th>Active</th>
            <th>Email Confirmed</th>
            <th class="flex justify-content-center">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td style="min-width: 10rem">
              <span class="p-column-title">Id</span>
              {{ user.id }}
            </td>
            <td style="min-width: 10rem">
              <span class="p-column-title">Profile</span>
              <div class="relative" style="width: 25px; height: 25px">
                <img
                  [ngSrc]="user.profilePictureUrl || userProfilePlaceHolder"
                  [alt]="user.profilePictureUrl"
                  class="user-img"
                  fill
                />
              </div>
            </td>
            <td style="min-width: 10rem">
              <span class="p-column-title">Username</span>
              {{ user.userName }}
            </td>

            <td style="min-width: 10rem">
              <span class="p-column-title">Email</span>
              {{ user.email }}
            </td>

            <td style="min-width: 10rem">
              <span class="p-column-title">Role</span>
              {{ user.role }}
            </td>

            <td style="min-width: 10rem">
              <span class="p-column-title">Active</span>
              <input
                class="p-checkbox bg-primary"
                [disabled]="user.role == 'Admin'"
                type="checkbox"
                [checked]="user.isActive"
                (change)="toggleUserStatus(user)"
              />
            </td>
            <td style="min-width: 10rem">
              <span class="p-column-title">Email Confirmed</span>
              <span
                [ngClass]="
                  user.isEmailConfirmed
                    ? 'pi pi-check bg-green-100 p-2 text-green-700'
                    : 'pi pi-times bg-red-100 p-2 text-red-700'
                "
                style="border-radius: 100%"
              >
              </span>
            </td>
            <td>
              <div class="flex justify-content-center">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="showEditModal(user)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="isDeleted(user)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-dialog
      [(visible)]="addDialog"
      [style]="{ width: '450px' }"
      header="User"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="header">
        <h3>{{ isEditing ? "Create User" : "Edit User" }}</h3>
      </ng-template>

      <ng-template pTemplate="content">
        <form [formGroup]="userFormGroup">
          <div class="field">
            <label
              [class]="
                userFormGroup.get('userName')?.invalid &&
                userFormGroup.get('userName')?.dirty
                  ? 'p-error'
                  : ''
              "
              for="userName"
              >Username</label
            >
            <input
              type="text"
              pInputText
              (input)="filterText($event)"
              formControlName="userName"
              required
              autofocus
              id="userName"
            />
            <div
              *ngIf="
                userFormGroup.get('userName')?.invalid &&
                userFormGroup.get('userName')?.dirty
              "
              class="p-error"
            >
              <small *ngIf="userFormGroup.get('userName')?.errors?.['required']"
                >Username is required.</small
              >
            </div>
          </div>
          <div class="field">
            <label
              for="email"
              [class]="
                userFormGroup.get('email')?.invalid &&
                userFormGroup.get('email')?.dirty
                  ? 'p-error'
                  : ''
              "
              >Email</label
            >
            <input
              type="email"
              pInputText
              formControlName="email"
              required
              autofocus
              id="email"
            />
            <div
              *ngIf="
                userFormGroup.get('email')?.invalid &&
                userFormGroup.get('email')?.dirty
              "
              class="p-error"
            >
              <small *ngIf="userFormGroup.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="userFormGroup.get('email')?.errors?.['email']">
                Invalid email format.
              </small>
            </div>
          </div>
          <div class="field">
            <label for="role">Role</label>
            <p-dropdown
              id="role"
              formControlName="role"
              [options]="roles"
              optionLabel="label"
              optionValue="label"
              placeholder="Select Role"
              styleClass="margin-bottom:20px"
              appendTo="body"
            >
            </p-dropdown>
            <div
              *ngIf="
                userFormGroup.get('role')?.invalid &&
                userFormGroup.get('role')?.dirty
              "
              class="p-error"
            >
              <small *ngIf="userFormGroup.get('role')?.errors?.['required']">
                Role is required.
              </small>
            </div>
          </div>
        </form>
      </ng-template>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
        <button
          pButton
          pRipple
          label="{{ isEditing ? 'Add' : 'Update ' }}"
          icon="pi pi-check"
          class="p-button-text"
          (click)="isEditing ? saveDetails() : editDetails()"
        ></button>
      </ng-template>
    </p-dialog>
    <!--Delete Dialogue-->
    <p-dialog
      [(visible)]="deleteDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete >?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

    <p-dialog
      [(visible)]="deleteDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete >?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

      
  </div>
</div>
